@font-face {
  font-family: 'Ubuntu Regular';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Genos Light';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Genos-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Genos Medium';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Genos-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono Regular';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

footer {
  font-size: 18px;
}

code {
  font-family: Ubuntu Mono Regular, Courier, monospace;
}

.divoc_body {
  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: Ubuntu Regular, Arial, sans-serif;
  line-height: 1.222;
  font-size: 24px;
  color: #FFEBD8;
  text-align: center;
  padding: 58px 58px 0 58px;
  margin: 0px auto;
}

.divoc_body a {
  color: #FFEBD8;
}

.divoc_border {
  border-width: 2px;
  border-style: solid;
  border-color: #FFEBD8;
  padding: 0 30px 30px 30px;
  background-color:hsla(0, 0%, 0%, 0.5);
}

.divoc_h1 {
  font-size: 62px;
  color: #FFEBD8;
  margin-top: 30px;
  font-family: Genos Medium, Arial, sans-serif;
}

.divoc_h2 {
  font-size: 48px;
  color: #FFEBD8;
  font-family: Genos Light, Arial, sans-serif;
}

.divoc_token {
  text-align: center !important;
}

.divoc_text {
  padding: 15px 0;
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 1200px) {
  .divoc_text {
    width: 60%;
    margin: 0 auto;
  }
}

.divoc_linie {
  border-top: 2px;
  border-top-style: solid;
  border-top-color: #FFEBD8;
}

.divoc_list {
  padding: 15px 0;
}

.divoc_list li {
  text-align: left;
}

@media (min-width: 1200px) {
  .divoc_list {
    width: 60%;
    margin: 0 auto;
  }
}

.divoc_buttons {
  padding: 10px;
}

.divoc_button {
  background-color: #A74DB7;
  border: none;
  color: #FFEBD8 !important;
  padding: 12px 48px;
  text-align: center;
  display: inline-block;
  margin: 2px 2px;
}

.divoc_media-fit {
  max-width: 100%;
  max-height: 75vh;
  height: auto;
}
